#div_pagina_inicio{
  margin-right: auto;
  margin-left: auto;
  padding: 20px 10px 10px 10px;
  width: calc(820px - 10px - 10px);
  max-width: calc(100% - 10px - 10px);
}
@media only screen and (max-device-width: 640px){
  #div_pagina_inicio{
    padding: 15px 10px 10px 10px;
  }
}

/* Sobre este sistema */
#div_sobre_este_sistema{
  margin-top: 32px;
}
@media only screen and (max-device-width: 640px){
  #div_sobre_este_sistema{
    margin-top: 20px;
  }
}
#h3_titulo_sobre_este_sistema{
  font-size: 17pt;
}
@media only screen and (max-device-width: 640px){
  #h3_titulo_sobre_este_sistema{
    font-size: 15pt;
  }
}
#div_conteudo_sobre_este_sistema{
  margin-top: 10px;
}
#div_conteudo_sobre_este_sistema>p{
  margin-top: 26px;
  line-height: 26px;
}
@media only screen and (max-device-width: 640px){
  #div_conteudo_sobre_este_sistema>p{
    margin-top: 18px;
    line-height: 22px;
  }
}
#div_conteudo_sobre_este_sistema>p:first-child{
  margin-top: 0px;
}
